.container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
}

.calculator__body {
    padding: 3rem 1rem;
    background-color: #d6e4e5;
    border-radius: 1rem;
}

.calculator__screen {
    min-height: 65px;
    padding: 10px;
    margin-bottom: 1rem;
    font-weight: bold;
    color: white;
    text-align: right;
    word-break: break-all;
    word-wrap: break-word;
    background-color: black;
    border-radius: 0.5rem;
}

.calculator__screen__previous {
    margin-bottom: 10px;
    font-size: 0.8rem;
    color: lightgray;
}

.calculator__buttons {
    display: grid;
    grid-template-rows: repeat(6, 4rem);
    grid-template-columns: repeat(4, 4rem);
    gap: 5px;
}

button {
    font-size: 1.25rem;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 1rem;
    outline: none;
}

.calculator__button {
    background-color: #497174;
}

.calculator__operator {
    background-color: #eb6440;
}

.calculator__operator:hover {
    background-color: #d34c27;
}

.calculator__button:hover {
    background-color: #417478;
}

button:active {
    box-shadow: 0 0 5px black;
}

#exponent,
#square {
    font-style: italic;
}